.jumbotron {
  margin-top: 20px;
}

#results {
  display: none;
}

#copyright {
  margin-top: 10%;
  padding-bottom: 2%;
  padding-left: 2%;
  text-align: center;
}

#name {
  width: 20%;
}

#age {
  width: 5%;
}

#question1 {
  width: 5%;
}

#question2 {
  width: 5%;
}

#question3 {
  width: 5%;
}

.button {
  padding-top: 5%;
}