.jumbotron {
  margin-top: 20px;
  background: url("https://img.pngio.com/soft-background-png-5-background-download-soft-backgrounds-png-1024_757.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

body {
 color: white;
}

.text-muted {
  color: white;
}

#results {
  display: none;
}

#results2 {
  display: none;
}

#copyright {
  margin-top: 10%;
  padding-bottom: 2%;
  padding-left: 2%;
  text-align: center;
}

#name {
  width: 20%;
}

#age {
  width: 7%;
}

#question1 {
  width: 7%;
}

#question2 {
  width: 7%;
}

#question3 {
  width: 7%;
}

.button {
  padding-top: 2%;
}

.form-group {
  padding-top: 2%;
}

#first-form-group {
  padding-top: 5%;
}

.form-inline {
  text-align: center;
}

#name-color {
  color: rgb(12, 103, 163);
}

#age-color {
  color: rgb(12, 103, 163);
}
